<div class='title'>{{title}}</div>
<table>
  <tr>
    <td colspan="4" class='my_total'>Ans:{{total}}</td>
  </tr>
  <tr>
    <td colspan="1" class='clear' (click)='clear()'>Clear</td>
    <td colspan="3" class='my_processUI'><div class='ProcessUI-container'>{{ProcessUI}}</div></td>
  </tr>
  <tr>
    <td (click)='operand("7")'>7</td>
    <td (click)='operand("8")'>8</td>
    <td (click)='operand("9")'>9</td>
    <td (click)='operator("/")'>/</td>
  </tr>
  <tr>
    <td (click)='operand("4")'>4</td>
    <td (click)='operand("5")'>5</td>
    <td (click)='operand("6")'>6</td>
    <td (click)='operator("x")'>X</td>
  </tr>
  <tr>
    <td (click)='operand("1")'>1</td>
    <td (click)='operand("2")'>2</td>
    <td (click)='operand("3")'>3</td>
    <td (click)='operator("-")'>-</td>
  </tr>
  <tr>
    <td (click)='operand("0")'>0</td>
    <td (click)='dot()'>.</td>
    <td (click)='calculate()'>=</td>
    <td (click)='operator("+")'>+</td>
  </tr>
</table>
<div class='notification' *ngIf='isNotification'>{{notificationText}}</div>
<div class='background'></div>

<div class='copy-rights'>Basic Calculator-Copyright &copy; All Rights Reserved 2022-{{currentData}}</div>