<div>{{title}}</div>


<table>
  <th>{{total}}</th>
  <th>{{ProcessUI}}</th>
  <tr>
    <td (click)='priority()'>(</td>
    <td (click)='priority()'>)</td>
    <td (click)='percent()'>%</td>
    <td (click)='clear()'>AC</td>
  </tr>
  <tr>
    <td (click)='number("7")'>7</td>
    <td (click)='number("8")'>8</td>
    <td (click)='number("9")'>9</td>
    <td (click)='operation("/")'>/</td>
  </tr>
  <tr>
    <td (click)='number("4")'>4</td>
    <td (click)='number("5")'>5</td>
    <td (click)='number("6")'>6</td>
    <td (click)='operation("X")'>X</td>
  </tr>
  <tr>
    <td (click)='number("1")'>1</td>
    <td (click)='number("2")'>2</td>
    <td (click)='number("3")'>3</td>
    <td (click)='operation("-")'>-</td>
  </tr>
  <tr>
    <td (click)='number("0")'>0</td>
    <td (click)='dot(".")'>.</td>
    <td (click)='calculate()'>=</td>
    <td (click)='operation("+")'>+</td>
  </tr>
</table>